<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>게시판</h3>
[[${msg}]]<br/>
<div th:if="${session.loginId == null}">
    <a href="/member/join">회원가입</a><br/>
    <a href="/member/login">로그인</a><br/>
    <a href="/guestbook/list">방명록</a>

</div>
<div th:if="${session.loginId != null}">
    [[${session.loginId}]]님의 타입은 [[${session.type}]]입니다.<br/>
    <a href="/member/logout">로그아웃</a>
    <a href="/member/memberInfo">내 정보확인</a>
    <a href="/member/out">탈퇴</a>
    <a href="/board/list">게시판</a><br/>
    <div th:if="${session.type.equals('판매자')}">
        판매자 메뉴<br/>
        <a href="/product/list">내 상품 목록</a>
    </div>
    <div th:if="${session.type.equals('구매자')}">
        구매자 메뉴<br/>
        <a href="/product/list">전체 상품 목록</a>
    </div>
</div>
</body>
</html>